<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-links">
            <a href="https://kwang2134.tistory.com/" class="footer-link">kwang2134_tistory</a>
            <a href="https://github.com/kwang2134" class="footer-link">kwang2134_GitHub</a>
        </div>
        <div class="footer-logo">
            <span class="footer-story">Story</span>
            <span class="footer-board">Board</span>
        </div>
    </div>
</footer>
</html>
